$theme-color: #01BD9F;
$theme-color-light: #10D7C0;
$text-black: #333;
$text-gray-deep: #666;
$text-gray: #999;
$text-gray-light: #ccc;
$text-red: #E6252E;
$text-green: #0ECD99;
$text-white: #ffffff;
$orange-color:#FFA136;
$sky-blue: #00c5f8;
$red-color: #ff001a;
$white-color:#ffffff;
$background-color:#f9f9f9;

$blue-gradient: linear-gradient(to right, #00c5fb, #1a90ee);
$price-tag: linear-gradient(to right, #00c5fb, #1a90ee);
